<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
        {% include "@SuluWebsite/Extension/seo.html.twig" with {
            "seo": extension.seo|default([]),
            "content": content|default([]),
            "localizations": localizations|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
        } %}
    {% endblock %}

    {% block style %}{% endblock %}
</head>
<body>
    <header>
        {% block header %}
            <nav>
                <ul>
                    <li>
                        <a href="{{ sulu_content_root_path() }}">Homepage</a>
                    </li>

                    {% for item in sulu_navigation_root_tree('main') %}
                        <li>
                            <a href="{{ sulu_content_path(item.url, item.webspaceKey) }}"
                               title="{{ item.title }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="navbar-nav">
                    {% for localization in localizations %}
                        <a class="nav-link" href="{{ localization.url }}">{{ localization.locale }}</a>
                    {% endfor %}
                </div>
            </nav>
        {% endblock %}
    </header>

    <form action="{{ path('sulu_search.website_search') }}" method="GET">
        <input name="q" type="text" placeholder="Search"/>
        <input type="submit" value="Go"/>
    </form>

    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% block footer %}
            <div class="container">
                {% for item in sulu_navigation_root_flat('footer') %}
                    <a href="{{ sulu_content_path(item.url) }}">{{ item.title }}</a>

                    {% if not loop.last %}&nbsp;|&nbsp;{% endif %}
                {% endfor %}

                <span class="text-muted float-right">Copyright {{ 'now'|date('Y') }} SULU</span>
            </div>
        {% endblock %}
    </footer>

    {% block javascripts %}{% endblock %}
</body>
</html>
